*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 80px;
    color: #ffffff;
    -webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
h2{
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}
   
p, .bot{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
}
#body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(145deg, #000000, #343434);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;

    transition: filter 1s;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 4%}
        50%{background-position:100% 97%}
        100%{background-position:0% 4%}
    }
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bot{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 50px;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
  
#back{
    color: #F8FFE5;
    display: none;
    padding: 20px 30px;
    -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
#result-one, #result-two{
    margin-bottom: 10px;
}

.icon{
    background-color: aqua;
    width: 24px;
    height: 24px;
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%);
border-radius: 50%;
transition: all 0.5s;
border: 2px solid rgb(255, 255, 255);
}

@media (hover: hover) {
    .bot:hover {
      background: #00000000;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
  }

  .fondo{
    filter: invert(100);
  }
  .iconoback{
    transform: rotate(180deg);
    border: 2px solid rgb(0, 0, 0);
  }